.contactDet {
  margin: 50px 0px;
}
.contactDet h1 {
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}
.contactDet h1:hover {
  color: rgb(30, 79, 216);
}
.contactImg img {
  width: 100%;
  height: 600px;
}
.contactImg {
  position: relative;
}
.contactCont {
  display: flex;
  gap: 100px;
  padding: 80px 50px;
  position: absolute;
  top: 100px;
  left: 20px;
}
.contactAdr {
  color: white;
}
.contactAdr h5 {
  line-height: 3;
  font-size: 30px;
}
.ContactForm {
  width: 450px;
}
