.sectionOneCarousel {
  position: relative;
}
.sectionOneCarousel .caption {
  position: absolute;
  top: 340px;
  left: 500px;
}
.sectionOneCarousel .caption h1 {
  font-family: "Rubik", sans-serif;
  letter-spacing: 1.3px;
  line-height: 1.2;
  font-weight: bolder;
}
.sectionOneBtn {
  padding: 15px 35px;
  border: none;
  border-radius: 20px;
  font-size: x-large;
  font-weight: bolder;
  background-color: rgb(30, 79, 216);
  color: white;
  letter-spacing: 1.3px;
}
.sectionOneBtn:hover {
  background-color: black;
}
