.sectionThreeCont {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.sectionThree {
  margin: 50px;
}
.setionThreeContp1 {
  background-color: #ffa07a;
  color: #ffffe0;
  width: 350px;
  text-align: center;
  padding: 100px 0px;
  font-size: x-large;
}
.setionThreeContp2 {
  background-color: #20b2aa;
  color: #ffffe0;
  text-align: center;
  width: 350px;
  font-size: x-large;
  padding: 100px 0px;
}
.setionThreeContp3 {
  background-color: #87cefa;
  color: #ffffe0;
  text-align: center;
  width: 350px;
  padding: 100px 0px;
  font-size: x-large;
}
.setionThreeContp4 {
  background-color: #90ee90;
  color: #ffffe0;
  text-align: center;
  width: 350px;
  padding: 100px 0px;
  font-size: x-large;
}
.sectionThreeCont2 {
  display: flex;
  padding: 50px 0px;
  gap: 30px;
}
.sectionThreeCont2det {
  background-color: #4682b4;
  width: 50%;
  color: #ffffe0;
}
.sectionThreeCont2det h3 {
  padding-top: 100px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.sectionThreeCont2det p {
  padding-left: 30px;
  font-size: 23px;
}
