.listCard {
  display: flex;
  justify-content: space-evenly;
}

.sectionFourTitle {
  padding: 30px 50px;
}
.sectionFourTitle h3 {
  color: #00bfff;
}
.sectionFourTitle h1:hover {
  color: rgb(30, 79, 216);
}
.card img {
  margin: 30px;
  border-radius: 30%;
}
.valeur {
  margin: 50px;
  padding: 80px 50px;
  background-color: wheat;
}
.valeur p {
  font-size: 25px;
  font-weight: 400;
}
.valeur h3 {
  color: #00ced1;
  margin-bottom: 30px;
}
.valeur .stb {
  color: rgb(30, 79, 216);
}
